@import "tailwindcss";

@theme {
  --color-primary: #1A3E6F;
  --color-accent: #2E75B6;
  --color-base: #FFFFFF;
  --color-soft-grey: #F8FAFC;
  --font-inter: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--color-base);
  color: #334155;
  -webkit-font-smoothing: antialiased;
}
